.job-card {
	box-shadow:  0px 0px 24px 1px rgba(149, 157, 165, 0.2);
	border-radius: 8px;
	padding: 20px;
	column-gap: 50px;
	.logo {
		width: 50px;
		margin-right: 10px;
	}
	.d-flex {
		align-items: center;
		margin-bottom: 10px;
	}
	.title {
		.name {
			font-size: 0.8rem;
			color: #848484;
			font-weight: 600;
			letter-spacing: 2px;
			margin-bottom: 4px;
			text-transform: capitalize;
		}
		.role {
			font-size: 1.2rem;
			text-transform: capitalize;
		}
		.location {
			font-size: 0.5rem;
			text-transform: capitalize;
		}
	}

	.salary {
		color: #646464;
		margin-bottom: 10px;
	}
	.experience {
		margin-bottom: 10px;
		div {
			color: #848484;
		}
		p {
			font-size: 0.8rem;
		}
	}
	.about {
		margin-bottom: 10px;
		text-align: justify;
		div {
			font-size: 1.2rem;
		}
		p {
			font-size: 0.8rem;
		}
	}
	&-buttons {
		align-self: center;
		text-wrap: nowrap;
		border-left: 1px solid rgb(209, 209, 209);
		padding:  20px;
		text-align: center;
		.appy-btn {
			width: 100%;
			padding: 10px;
			background-color: #54efc3;
			color: #000;
			text-align: center;
			border-radius: 8px;
			cursor: pointer;
		}
		.not-interested-btn{
			color: #848484;
			font-size: .8rem;
			margin-top: 8px;cursor: pointer;
		}
	}
}
