* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 1200px;
	margin: auto;
	font-family: sans-serif;
	padding: 20px;
}
.d-flex {
	display: flex;
}

@import url("./jobs-listing.scss");
@import url("./job-card.scss");
@import url("./filters.scss");
